.header {
  background: #000;
  max-width: 1540px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-left {
  width: 25%;
  
}

.header-left__logo {
  width: 100%;
}

.header-center {
  width: 30%;
}

.search__input {
  width: 100%;
  max-width: 400px;
  height: 30px;
  padding: 5px 10px;
}

.header-right {
  display: flex;
  gap: 16px;
}

.header-nav__item {
  display: flex;
  align-items: center;
}

.header-nav__button {
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.header__btn--sell{
  width: 60px;
  color: #000000;
  background: #fff;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
}
