.content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1540px;
}

/* タブ */
.form-change {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.form-change a {
  color: #666;
  text-decoration: none;
}
.form-change a.active {
  color: #ff0000;
  font-weight: bold;
}
.form-change__recommend{
  margin-left: 100px;
  font-size: 20px;
}

.form-change__mylist{
  font-size: 20px;
}
/* タブ */

.item-group{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.item-group__row{
  display: flex;
  flex-direction: column;
}

.item-group__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item-group__img-inner {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-group__name-sold{
  display: flex;
  width :100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.item-group__name{
  width:70%
}

.item-group__sold{
  color:#ff0000;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 850px) {
  .form-change__recommend{
    font-size: 14px;
    margin-left: 60px;
  }

  .form-change__mylist {
    font-size: 14px;
  }

  .item-group{
    gap: 20px;
  }

  .item-group__name,
  .item-group__sold{
    font-size: 14px;
    margin-top: 0;
  }
}