.content {
  margin: 0 auto;
  padding: 60px;
  max-width: 1540px;
  display: flex;
  gap: 100px;
}

.right,
.left {
  width:50%;
}

/* 商品画像（左） */
.item-img {
  width: 100%;
}

/* 商品詳細（右） */
.item-name,
.item-brand {
  margin: 0 auto 0 0;
}
.item-price {
  margin-bottom: 10px;
}

.item-price__num {
  font-size: 25px;
}

/* いいね＆コメントアイコン */
.icon-group{
  display: flex;
}

.icon__likes,
.icon__comment{
  margin-left: 25px;
}

.icon{
  width: 30px;
}

.icon__count{
  text-align: center;
  margin-top: 0;
  font-size: 12px;
}
/* いいね＆コメントアイコン ここまで*/

/* ボタン */
.form__button {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.form__button-submit {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #E64C4C;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 3px;
}
/* ボタン　ここまで */

/* 商品説明＆商品情報 */
.item-describe{
  margin-bottom: 0;
}

.item-description {
  font-size: 14px;
}

.item-info{
  margin-bottom: 15px;
}

.item-info__group{
  display: flex;
}

.item-info__title {
  font-weight: bold;
  margin-right: 30px;
  font-size: 16px;
  margin-top: 0px;
}

.item-categories,
.item-condition {
  font-size: 16px;
  margin-top: 0px;
}
/* 商品説明＆商品情報 ここまで */

/* コメント */
.item-comment{
  color: #808080
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e0e0e0;
  overflow: hidden;
}

.profile-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-name{
  font-size: 14px;
}
.comments{
  width: 100%;
  background: #e0e0e0;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-top:3px;
}
/* コメント表示 ここまで */

/* コメント入力 */
.form-comment__title{
  margin-bottom: 0;
  font-weight: bold;
}
.form-comment__textarea{
  width: 100%;
  height: 100px;
}
/* コメント入力　ここまで */