
.content{
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1540px;
}

.login-form{
  margin: 0 auto;
  width: 500px;
}

.content-title{
  font-size:28px;
  text-align: center;
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
}

.form__label--item {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.form__input--item{
  width:100%;
  height:35px;
}

.form__button{
  margin-top:20px;
  width: 100%;
  display: inline-block;
}

.form__button-submit{
  width :100%;
  height: 40px;
  border:none;
  background-color: #E64C4C;
  color:#fff;
  font-weight: bold;
  margin-bottom:20px;
}

.form__button-tran {
  font-size: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
}