.content {
  margin: 0 auto;
  padding: 0 15px 60px 15px;
  max-width: 1540px;
}

/* start プロフィール画像 */
.profile-box {
  display: flex;
  align-items: center;
  gap: 80px;
  padding:50px 100px;

}

.profile-thumb {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #e0e0e0;
  overflow: hidden;
  flex-shrink: 0;
}

.profile-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.profile-file {
  display: none;
}

.profile-btn {
  display: inline-block;
  padding: 6px 14px;
  font-size: 12px;
  border: 1px solid #ff5555;
  color: #ff5555;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  margin-left: 80px;
  text-decoration: none;
}
/* end　プロフィール画像 */

/* start タブ */
.form-change {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.form-change a {
  color: #666;
  text-decoration: none;
}
.form-change a.active {
  color: #ff0000;
  font-weight: bold;
}
.form-change__sell{
  margin-left: 100px;
}
/* end タブ */

.item-group{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.item-group__row{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-group__img{
  background: #e0e0e0;
  border: none;
  width: 100%;
}

.item-group__name-sold {
  display: flex;
  width: 100%;
  border: none;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.item-group__name {
  /* font-size: 18px; */
  width: 70%
}

.item-group__sold {
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
}