.content {
  margin: 0 auto;
  padding: 0 15px 60px 15px;
  max-width: 1540px;
}

/* プロフィール画像 */
.profile-box {
  display: flex;
  align-items: center;
  gap: 80px;
  padding:50px 100px;
}

.profile-thumb {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #e0e0e0;
  overflow: hidden;
  flex-shrink: 0;
}

.profile-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.profile-name{
  font-size: 20px;
}

.profile-btn {
  display: inline-block;
  padding: 6px 14px;
  font-size: 14px;
  border: 1px solid #ff5555;
  color: #ff5555;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  margin-left: 80px;
  text-decoration: none;
}
/* プロフィール画像 */

/* タブ */
.form-change {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.form-change a {
  color: #666;
  text-decoration: none;
}

.form-change a.active {
  color: #ff0000;
  font-weight: bold;
}

.form-change__sell{
  margin-left: 100px;
  font-size: 20px;
}

.form-change__buy{
  font-size: 20px;
}
/* タブ */

.item-group{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.item-group__row{
  display: flex;
  flex-direction: column;
}
/* 画像 */
.item-group__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item-group__img-inner {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-group__name-sold {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.item-group__name {
  width: 70%
}

.item-group__sold {
  color: #ff0000;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 850px) {
  .profile-box {
    gap: 40px;
  }

  .profile-thumb {
    width: 130px;
    height: 130px;
  }

  .profile-name{
    font-size: 16px;
  }

  .profile-btn {
    font-size: 12px;
  }

  .form-change__sell,
  .form-change__buy {
    font-size: 14px;
  }

  .item-group{
    gap: 20px;
  }

  .item-group__name,
  .item-group__sold{
    font-size: 16px;
    margin-top: 0;
  }
}
