.content {
  margin: 0 auto;
  padding: 60px;
  max-width: 1540px;
  display: flex;
  gap: 50px;
}

.left {
  width:65%;
}

.right {
  width: 30%;
}

/* 購入情報（左） */
.left-row {
  border-bottom: 1px solid #000;
  display: flex;
  padding: 30px 0;
}

/* 一段目 */
.item-img__inner{
  width:140px;
}
.item-img {
  width: 100%;

}
.left-row__name-price {
  margin-left: 40px;
}

.item-name{
  font-size: 20px;
  margin-top: 0;
}

/* 二段目 */
.left-row2{
  border-bottom: 1px solid #000;
  height: 120px;
}

.left-row__ttl{
  margin-left: 20px;
  font-weight: bold;
}

.payment_method__select{
  width: 250px;
  margin-left: 60px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  padding: 3px;
}

/* 三段目 */
.left-row3{
  border-bottom: 1px solid #000;
  height: 150px;
}

.left-row__ttl-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-row__delivery-group{
  margin-left: 70px;
}

.delivery__postcode,
.delivery__address-building{
  margin: 0;
}











/* 商品代金＆支払方法（右） */
.payment-table{
  width: 100%;
  text-align: center;
  height: 150px;
  margin-bottom: 50px;
}

.payment-table__row{
  border: 1px solid #000;
}
/* 商品代金＆支払方法（右）ここまで */

/* ボタン */
.form__button {
  width: 100%;
  display: inline-block;

}

.form__button-submit {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #E64C4C;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 3px;
}
/* ボタン　ここまで */
