.content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1512px;
}

.login-form {
  margin: 0 auto;
  width: 500px;
}

.content-title {
  font-size: 28px;
  text-align: center;
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
}

.form__label--item {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.form__input--item {
  width: 100%;
  height: 35px;
}

.form__button {
  margin-top: 40px;
  width: 100%;
  display: inline-block;
}

.form__button-submit {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #E64C4C;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

/* 画像 */
.form__input--item-img{
  width: 100%;
  height: 100px;
}

.content-subtitle{
  color:#5F5F5F;
  border-bottom: 1px solid #000000;
}


/* チップ */
.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.category-item {
  padding: 3px 8px;
  border: 2px solid #E64C4C;
  border-radius: 20px;
  color: #E64C4C;
  cursor: pointer;
  font-size: 10px;
  transition: 0.2s;
}

/* ラジオボタンを非表示 */
.category-item input {
  display: none;
}

/* 選択時のスタイル変更 */
.category-item input:checked+span,
.category-item input:checked {
  background-color: #E64C4C;
  color: white;
}

.category-item input:checked~* {
  background-color: #E64C4C;
  color: white;
}

.form__textarea--item{
  width :100%;
  height: 100px;
}